<div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 py-4 sm:py-6">

  <p-toast></p-toast>

  <!--<h2 class="text-2xl font-semibold mb-6 text-indigo-700">Forums and Groups</h2>-->
  <header class="mb-8">
    <h1 class="text-3xl font-bold tracking-tight text-slate-900 dark:text-slate-100">
      Forums and Groups
    </h1>
    <p class="mt-2 text-lg text-slate-600 dark:text-slate-300">
      Browse all forum and group topics from across the forum.
    </p>
  </header>

  <div *ngIf="isLoading" class="flex justify-content-center align-items-center py-5">
    <p-progressSpinner strokeWidth="4" styleClass="w-8rem h-8rem"></p-progressSpinner>
  </div>

  <div *ngIf="!isLoading && errorMessage" class="p-message p-message-error m-2">
    <div class="p-message-wrapper">
      <span class="p-message-summary">Error</span>
      <span class="p-message-detail">{{ errorMessage }}</span>
    </div>
  </div>

  <div *ngIf="!isLoading && !errorMessage && treeTableNodes.length === 0" class="p-message p-message-info m-2">
    <div class="p-message-wrapper">
      <span class="p-message-summary">Information</span>
      <span class="p-message-detail">No top-level forums or groups found to display.</span>
    </div>
  </div>

  <div *ngIf="!isLoading && !errorMessage && treeTableNodes.length > 0" class="bg-white p-4 rounded-lg shadow-lg">
    <p-treeTable [value]="treeTableNodes" dataKey="data.id">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 50%;">Title</th>
          <th class="text-center">Discussions</th>
          <th class="text-center">Comments</th>
          <th class="text-right">Last Post</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData"> <!-- rowData is node.data -->
        <tr>
          <td>
            <p-treeTableToggler [rowNode]="rowNode" *ngIf="!rowNode.leaf"></p-treeTableToggler>
            <span [style.paddingLeft.px]="rowNode.leaf && rowNode.level > 0 ? (rowNode.level * 1.5 * 16) + 16 : (rowNode.leaf ? 16 : 0)"
                  [ngClass]="{'font-semibold': rowData.type === 'forumGroup'}">

               <i [ngClass]="rowData.type === 'forumGroup' ? 'pi pi-fw pi-folder' : 'pi pi-fw pi-comments'"></i>
               <ng-container *ngIf="rowData.type === 'forum'; else nonForumTitle">
                 <a [routerLink]="['/app/forums', rowData.originalDto.id, 'view']" class="text-indigo-600 hover:text-indigo-800 hover:underline">
                   {{ rowData.title }}
                 </a>
              </ng-container>
              <ng-template #nonForumTitle>
                {{ rowData.title }}
              </ng-template>
            </span>
            <ng-container *ngIf="rowData.icon && rowData.iconColor">
              <ng-container *ngIf="rowData.icon as iconName">
                <ng-icon
                  [name]="iconName"
                  [style.color]="rowData.iconColor"
                  size="20">
                </ng-icon>
              </ng-container>
            </ng-container>
          </td>
          <td class="text-center">
            <ng-container *ngIf="rowData.type === 'forum'">
              {{ rowData.discussionCount }}
            </ng-container>
          </td>
          <td class="text-center">
            <ng-container *ngIf="rowData.type === 'forum'">
              {{ rowData.commentCount }}
            </ng-container>
          </td>
          <td class="text-right">
            <ng-container *ngIf="rowData.type === 'forum' && rowData.lastCommentDate">
              {{ rowData.lastCommentDate | date: 'MMM d, y, h:mm a' }}
            </ng-container>
            <ng-container *ngIf="rowData.type === 'forum' && !rowData.lastCommentDate">
              N/A
            </ng-container>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4" class="text-center p-4">
            No data available in TreeTable.
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>

</div>
