<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="p-fluid">

  <div class="field">
    <label for="newPassword">New Password</label>
    <p-password id="newPassword" formControlName="newPassword" [toggleMask]="true" [feedback]="false"
                styleClass="mt-1 block w-full py-2" [inputStyle]="{'width': '100%'}"></p-password>
  </div>
  <div class="flex justify-end gap-2 mt-5">
    <button pButton type="button" label="Cancel" (click)="onCancel()" class="p-button-text"></button>
    <button pButton type="submit" label="Set Password" [loading]="isSubmitting" [disabled]="passwordForm.invalid"></button>
  </div>
</form>
