
<div class="flex flex-col h-screen">
  <p-toast position="top-center"></p-toast>
  <header class="bg-indigo-100">
    <div class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8">
      <a class="block text-teal-600" routerLink="/">
        <span class="sr-only">Home</span>
        BootForum2
      </a>

      <div class="flex flex-1 items-center justify-end md:justify-between">
        <nav aria-label="Global" class="hidden md:block">
          <ul class="flex items-center gap-6 text-sm">
            <li>
              <a class="text-gray-500 transition hover:text-gray-500/75" routerLink="/app/dashboard"> Dashboard </a>
            </li>
          </ul>
        </nav>

        <div class="flex items-center gap-4">
          <div class="sm:flex sm:gap-4">
            <a *ngIf="!(isLoggedIn$ | async)"
              class="block rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700"
              routerLink="/app/login"
            >
              <span class="pi pi-sign-in mr-2"></span>
              Login
            </a>

            <button *ngIf="isLoggedIn$ | async" (click)="logout()"
               class="block rounded-md bg-orange-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-orange-700 cursor-pointer"
            >
              <span class="pi pi-sign-out mr-2"></span>
              Logout
            </button>

            <a *ngIf="!(isLoggedIn$ | async)"
               class="hidden rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600 transition hover:text-teal-600/75 sm:block"
               routerLink="/app/registration"
            >
              <span class="pi pi-clipboard mr-2"></span>
              Register
            </a>

          </div>

          <button
            class="block rounded-sm bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden"
          >
            <span class="sr-only">Toggle menu</span>
            <!--
              Note: svg is the new trend of using over the icon libraries like FontAwesome, Bootstrap, Material, etc
              The following svg tag is the hamburger/menu icon
            -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </header>

  <!-- Container: Centers content vertically and horizontally, light gray background -->
  <main class="bg-gray-100 h-screen">
      <router-outlet/>
  </main>

  <footer class="">
    <div class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8">
      <span class="text-gray-500">Copyright &#64; 2025</span>
    </div>
  </footer>
</div>
